<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gj.mapper.TbGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.example.gj.entities.TbGoods" >
    <result column="Goodsinsp" property="goodsinsp" jdbcType="VARCHAR" />
    <result column="Goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="Goods_no" property="goodsNo" jdbcType="VARCHAR" />
    <result column="Audit_type" property="auditType" jdbcType="VARCHAR" />
    <result column="stauts" property="stauts" jdbcType="VARCHAR" />
    <result column="Cbename" property="cbename" jdbcType="VARCHAR" />
    <result column="cbecodeinsp" property="cbecodeinsp" jdbcType="VARCHAR" />
    <result column="Create_Time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Goodsinsp, Goods_name, Goods_no, Audit_type, stauts, Cbename, cbecodeinsp, Create_Time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.gj.entities.TbGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.example.gj.entities.TbGoodsExample" >
    delete from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.gj.entities.TbGoods" >
    insert into tb_goods (Goodsinsp, Goods_name, Goods_no, 
      Audit_type, stauts, Cbename, 
      cbecodeinsp, Create_Time)
    values (#{goodsinsp,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsNo,jdbcType=VARCHAR}, 
      #{auditType,jdbcType=VARCHAR}, #{stauts,jdbcType=VARCHAR}, #{cbename,jdbcType=VARCHAR}, 
      #{cbecodeinsp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.gj.entities.TbGoods" >
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsinsp != null" >
        Goodsinsp,
      </if>
      <if test="goodsName != null" >
        Goods_name,
      </if>
      <if test="goodsNo != null" >
        Goods_no,
      </if>
      <if test="auditType != null" >
        Audit_type,
      </if>
      <if test="stauts != null" >
        stauts,
      </if>
      <if test="cbename != null" >
        Cbename,
      </if>
      <if test="cbecodeinsp != null" >
        cbecodeinsp,
      </if>
      <if test="createTime != null" >
        Create_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsinsp != null" >
        #{goodsinsp,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsNo != null" >
        #{goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="auditType != null" >
        #{auditType,jdbcType=VARCHAR},
      </if>
      <if test="stauts != null" >
        #{stauts,jdbcType=VARCHAR},
      </if>
      <if test="cbename != null" >
        #{cbename,jdbcType=VARCHAR},
      </if>
      <if test="cbecodeinsp != null" >
        #{cbecodeinsp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.gj.entities.TbGoodsExample" resultType="java.lang.Integer" >
    select count(*) from tb_goods
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_goods
    <set >
      <if test="record.goodsinsp != null" >
        Goodsinsp = #{record.goodsinsp,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsName != null" >
        Goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNo != null" >
        Goods_no = #{record.goodsNo,jdbcType=VARCHAR},
      </if>
      <if test="record.auditType != null" >
        Audit_type = #{record.auditType,jdbcType=VARCHAR},
      </if>
      <if test="record.stauts != null" >
        stauts = #{record.stauts,jdbcType=VARCHAR},
      </if>
      <if test="record.cbename != null" >
        Cbename = #{record.cbename,jdbcType=VARCHAR},
      </if>
      <if test="record.cbecodeinsp != null" >
        cbecodeinsp = #{record.cbecodeinsp,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_goods
    set Goodsinsp = #{record.goodsinsp,jdbcType=VARCHAR},
      Goods_name = #{record.goodsName,jdbcType=VARCHAR},
      Goods_no = #{record.goodsNo,jdbcType=VARCHAR},
      Audit_type = #{record.auditType,jdbcType=VARCHAR},
      stauts = #{record.stauts,jdbcType=VARCHAR},
      Cbename = #{record.cbename,jdbcType=VARCHAR},
      cbecodeinsp = #{record.cbecodeinsp,jdbcType=VARCHAR},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>