<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="../layui-v2.4.5/layui/css/layui.css">
    <script src="../layui-v2.4.5/layui/layui.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
</head>
<body>
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
    <button class="layui-btn" data-type="isAll">验证是否全选</button>
    <button class="layui-btn" data-type="getCheckData">批量删除</button>
    <button class="layui-btn" data-type="getAdd">添加</button>
</div>
<table class="layui-table" lay-data="{width: 892, height:330, url:'/zidong/qing/', page:false, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
        <th lay-data="{field:'id', width:80, sort: true, fixed: true}">ID</th>
        <th lay-data="{field:'pid', width:80}">父ID</th>
        <th lay-data="{field:'paramType', width:80}">参数类型</th>
        <th lay-data="{field:'paramCode', width:80}">参数Code</th>
        <th lay-data="{field:'paramValue', width:80}">参数值</th>
        <th lay-data="{field:'createTime', width:80,templet:'<div>{{layui.util.toDateString(d.createTime)}}</div>'}">创建时间</th>
        <th lay-data="{fixed: 'right', width:210, align:'center', toolbar: '#barDemo'}"></th>
    </tr>
    </thead>
</table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use('table', function()
    {
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                // layer.msg('ID：'+ data.id + ' 的查看操作');
                layer.alert( JSON.stringify(data));
            } else if(obj.event === 'del')
            {
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url: "/zidong/del",
                        type: "POST",
                        data: {"id": data.id},
                        dataType: "json",
                        success: function (data)
                        {
                            if(data>=1)
                            {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功");
                            }
                        },
                        error: function (data) {
                            layer.msg("删除失败");
                        }
                    });
                });
            }else  if (obj.event === 'fangxing')
            {
                layer.confirm('真的放行么', function(index) {
                    $.ajax({
                        url: "/zidong/fangxing",
                        type: "POST",
                        data: {"id": data.id},
                        dataType: "json",
                        success: function (data) {
                            if (data >= 1) {
                                obj.del();
                                layer.close(index);
                                layer.msg("放行成功");
                            }
                        },
                        error: function (data) {
                            layer.msg("放行失败");
                        }
                    });
                });
            }else if(obj.event === 'edit')
            {
                //layer.alert('编辑行：<br>'+ JSON.stringify(data))
                layer.prompt({
                    formType: 2
                    ,value: JSON.stringify(data)
                }, function(value, index) {
                    EidtUv(data, value, index, obj);
                });
            }
        });
        function  EidtUv(data,value,index,obj) {
            $.ajax({
                url: "/zidong/edit",
                type: "POST",
                data:{"id":data.id,"word":value},
                dataType: "json",
                success: function(result){
                    if(result>=1){
                        layer.close(index);
                        //同步更新表格和缓存对应的值
                        obj.update({
                            word: value
                        });
                        layer.msg("修改成功", {icon: 6});

                    }else{
                        layer.msg("修改失败", {icon: 5});
                    }
                }
            });
        }


        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
            ,getAdd:function ()
            {
                var title = '自动审单添加';
                var index = layui.layer.open({
                    title: title,
                    type: 1,
                    area: ['50%', '50%'],
                    content: "<form id=\"project-form\" lay-filter=\"project-form\" class=\"layui-form model-form\">\n" +
                    "\n" +
                    "    <div class=\"layui-form-item\">\n" +
                    "        <label class=\"layui-form-label\">父键ID</label>\n" +
                    "        <div class=\"layui-input-block\">\n" +
                    "            <input name=\"projectName\" placeholder=\"请输入父键ID\"\n" +
                    "                   id=\"userCode\"\n" +
                    "                   type=\"text\" class=\"layui-input\" maxlength=\"20\"\n" +
                    "                   lay-verify=\"required\" required/>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "    <div class=\"layui-form-item\">\n" +
                    "        <label class=\"layui-form-label\">参数类型</label>\n" +
                    "        <div class=\"layui-input-block\">\n" +
                    "            <input name=\"projectName\" placeholder=\"请输入参数类型\"\n" +
                    "                   id=\"userName\"\n" +
                    "                   type=\"text\" class=\"layui-input\" maxlength=\"20\"\n" +
                    "                   lay-verify=\"required\" required/>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "    <div class=\"layui-form-item\">\n" +
                    "        <label class=\"layui-form-label\">参数</label>\n" +
                    "        <div class=\"layui-input-block\">\n" +
                    "            <input name=\"projectName\" placeholder=\"请输入参数\"\n" +
                    "                   id=\"userMobile\"\n" +
                    "                   type=\"text\" class=\"layui-input\" maxlength=\"20\"\n" +
                    "                   lay-verify=\"required\" required/>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "   <div class=\"layui-form-item\">\n" +
                    "        <label class=\"layui-form-label\">参数值</label>\n" +
             "       <div class=\"layui-input-block\">\n" +
            "            <input name=\"projectName\" placeholder=\"请输入参数值\"\n" +
            "                   id=\"userMobile\"\n" +
            "                   type=\"text\" class=\"layui-input\" maxlength=\"20\"\n" +
            "                   lay-verify=\"required\" required/>\n" +
            "        </div>\n" +
                    "    </div>"+
                    "\n" +
                    "</form>\n",
                    success: function (layero, index) {

                    }
                    ,btn: ['确定', '取消'] //只是为了演示
                    ,yes: function(data){

                        var userCode = $("#userCode").val();
                        var userName = $("#userName").val();
                        var userMobile = $("#userMobile").val();
                        var userRole = $("#userRole").val();
                        console.log("val ",userCode,userName,userMobile,userRole)
                        console.log("添加",data)
                        $.ajax({
                            url: "/zidong/add",
                            type: "POST",
                            data:{"userCode":userCode,"userName":userName,
                                "userMobile":userMobile,
                                "userRole":userRole
                            },
                            dataType: "json",
                            success: function(result){
                                if(result>=1){
                                    layer.close(index);
                                    //同步更新表格和缓存对应的值
                                    obj.update({
                                        word: value
                                    });
                                    layer.msg("修改成功", {icon: 6});

                                }else{
                                    layer.msg("修改失败", {icon: 5});
                                }
                            }
                        });
                    }
                    ,btn2: function(){
                        layer.close();
                    }

                });



            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
</body>
</html>